@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

:root {
    font-size: 16px;
    --main-color:#21243D;
    --primary-color:#FF6464;
    --secondary-color:#00A8CC;
    --dark-blue:#142850;
}

* {
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}

h1,h2,h3,h4{
    color: var(--main-color);
}

button{
    width: 200px;
    height: 50px;
    background: var(--primary-color);
    border: none;
    font-size: 1.25rem;
    line-height: 50px;
    font-weight: 500;
    color: white;
}

.container{
    width: 860px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header ul{
    display: flex;
    list-style: none;

    width: 300px;
    justify-content: space-between;

    font-weight: 500;
    font-size: 1.25rem;
}

header ul li a{
    text-decoration: none;
    color: black;
}

.content{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;

    height: 300px;

}

.content .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 60%;
}

.content .left h1 {
    font-size: 2.75rem;
}

.content .right{
    display: flex;
    align-items: center;
}

.content .right img{
    filter: drop-shadow( -5px -13px 0px #EDF7FA);
}

.recent_posts{
    margin-top: 130px;
    padding-bottom: 30px;

    background: #EDF7FA;
}

.flexrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-weight: 400;
    font-size: 1.375rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blue_text {
    color: var(--secondary-color);
}

.post {
    width: 420px;
    height: 300px;

    background: white;
    border-radius: 4px;
    padding: 0 20px 20px 20px;
}

.date {
    display: flex;
    align-items: center;
    width: 300px;

    font-size: 1.125rem;
}

.date hr {
    height: 20px;
}

.one_work {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one_work .right {
    width: 600px;
}

.one_work .right h1{
    margin-top: 0;
}

.work_info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 200px;
}

.year {
    background: var(--dark-blue);
    color: white;

    border-radius: 16px;
    height: 25px;
    width: 65px;
}

.year p {
    margin: 0 auto;
    font-weight: 900;
    font-size: 1.125rem;

    text-align: center;
}

.type {
    color: #8695A4;
    font-size: 1.25rem;

    margin: 0;
}

.works hr {
    border: 1px solid #E0E0E0;
    margin-top: 30px;
    margin-bottom: 30px;
}